[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Margarita-Gapenko
[access "refs/for/refs/*"]
	read = group user/Margarita-Gapenko
	push = group user/Margarita-Gapenko
	label-Code-Review = -2..+2 group user/Margarita-Gapenko
	label-Verified = -1..+1 group user/Margarita-Gapenko
	rebase = group user/Margarita-Gapenko
	removeReviewer = group user/Margarita-Gapenko
	submit = group user/Margarita-Gapenko
[access "refs/heads/*"]
	read = group user/Margarita-Gapenko
	create = group user/Margarita-Gapenko
	push = +force group user/Margarita-Gapenko
	pushMerge = group user/Margarita-Gapenko
[access "refs/tags/*"]
	push = group user/Margarita-Gapenko
	push = +force group user/Margarita-Gapenko
